<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartão Virtual Covid-19</title>
</head>
<body>
    <div class="bloco">
        <h1>Cadastro</h1>
        <form action="/" method="post" autocomplete="on">
            <div class="bloco form_input">
                <label for="pnome">Nome:</label><br>
                <input type="text" id="nome" name="nome" required><br>
                <br>
            </div>
            <div class="bloco form_input">
                <label for="idade">Idade</label><br>
                <input type="idade" id="idade" name="idade" required><br>
                <br>
            </div>
            <div class="bloco form_input">
                <label for="local">Estado:</label><br>
                <input type="text" id="local" name="local" required><br>
                <br>
            </div>
            <div class="bloco form_input">
                <label for="sexo">Sexo:</label><br>
                <input type="radio" id="masc" name="sexo" value="masculino">masc
                <input type="radio" id="fem" name="sexo" value="feminino">fem <br>
                <br>
            </div>
            <div class="bloco form_input">
                <label for="dose">Dose:</label><br>
                <input type="radio" id="uma" name="dose" value="uma">Primeira
                <input type="radio" id="duas" name="dose" value="duas">Segunda <br>
                <br>
            </div>
            <div class="bloco form_input">
                <input type="submit" value="Cadastrar" class="botao">
                <br>
            </div>
        </form>

    </div>
</body>
</html>