<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/create.css">
    <title>Cartão Virtual Covid-19</title>
</head>
<body>
    {% include 'header.html' %}
    
    <div class="bloco">
        <h1>Cadastro</h1>  
    </div>
    {% if id_atribuido %}

        <div class="bloco">
            <p>Cadastro efetuado com sucesso!</br>
                <br>
            O ID atribuido foi <span class="id_atribuido">{{ id_atribuido}}</span>.<br>
            <a href="/read/{{ id_atribuido}}" class ="botao">Visualizar</a>
            </p>
        </div>

    {% else %}

    <div class="bloco">
        <form  method="POST" autocomplete="on">
            <div class="bloco form_input">
                <label for="nome">Nome:</label><br>
                <input type="text" id="nome" name="nome" required><br>
                <br>
            </div>
            <div class="bloco form_input">
                <label for="idade">Idade</label><br>
                <input type="idade" id="idade" name="idade" required><br>
                <br>
            </div>
            <div class="bloco form_input">
                <label for="UF">UF Estado:</label><br>
                <input type="text" id="UF" name="UF" required><br>
                <br>
            </div>
            <div class="bloco form_input">
                <label for="sexo">Sexo:</label><br>
                <input type="radio" id="masc" name="sexo" value="M">masculino
                <input type="radio" id="fem" name="sexo" value="F">feminino <br>
                <br>
            </div>
            <div class="bloco form_input">
                <label for="dose">Dose:</label><br>
                <input type="radio" id="uma" name="dose" value="1">Primeira
                <input type="radio" id="duas" name="dose" value="2">Segunda <br>
                <br>
            </div>
            <div class="bloco form_input">
                <input type="submit" value="Cadastrar" class="botao">
                <br>
            </div>
        </form>
    </div>
  {% endif %}
</body>
</html>