<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/delete.css">
    <title>Deletar Cadastro paciente</title>
</head>
<body>

    {% include 'header.html' %}

{% if sucesso %}
    <!--html de sucesso na remocação do filme ( segunda rota)-->

        <div class="bloco removido_sucesso">
            <p>cadastro removido com sucesso</p>
        </div>

        <div class="bloco">
            <a href="/read" class="botao">Visualizar todos os cadastros</a>
        </div>

    {% elif filme %}
    <!---->

        <div class="bloco">
            <h2> Remover cadastro </h2>
        </div>

        <div class="bloco">
            <p> Tem certeza que deseja remover paciente <span class="highlight">{{filme.nome}}</span> ? </P>
        </div>

        <div class="bloco">
            <a href="/delete/{{filme.id}}/confirmed" class="botao">Remover</a>
            <a href="/read"class="botao">Cancelar</a>
        </div>

    {% else %}

        <div class="bloco">
            <h2> Remover cadastro </h2>
        </div>
        
        <div class="bloco">
            <h2> Nenhum paciente encontrado </h2>
        </div>

        <div class="bloco">
            <a href="/read" class="botao">Voltar para a lista de filmes</a>
        </div>

    {% endif %}
</body>
</html>

