<header class="header">
    <div class="bloco">
        <img src="/static/viruses-solid.svg" alt="">
        <img src="/static/seringa.svg" alt="Logo da BlueEdTech" class="logo">
    </div>
    <div class="bloco">
        <h1>Cartão Virtual Covid-19</h1>
    </div>
    <div class="bloco">
        <a href="/" class="botao" id="home">
             <img src="/static/homeicon.png" alt="HomePage" height="20px;" style="height: 30px;">
        </a>
        <a href="/create" class="botao">Cadastrar</a>
        <a href="/read" class="botao">Visualizar tudo</a>
    </div>
</header>