<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/estilografico.css">
    <title>Cartão Virtual Covid-19</title>
</head>
<body>
    {% include 'header.html' %}
    <div class=" bloco" id="lateral">
        <section>
        
            <h2>Cartão Virtual Covid-19</h2>
            <p class="texto">O Cartão Virtual é o portal do profissional 
            de saúde para realização de marcação, consulta e acompanhamento da vacinação 
            contra a Covid-19. </p>
        </section>
    <div class="bloco" id="central">
        <div class="flourish-embed flourish-chart" data-src="story/767666"><script src="https://public.flourish.studio/resources/embed.js"></script>
        </div>
    </div>

</body>
</html>