<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Cartão Virtual Covid-19</title>
</head>
<body>
    {% include 'header.html' %}

    <h2>Controle de vacinação</h2>
    <p>O Cartão Virtual é o portal do profissional <br>
    de saúde para realização de marcação, <br> consulta e acompanhamento da vacinação
    contra a Covid-19. </p>
</body>
</html>