<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/update.css">
    <title> Atualizar Cadastro </title>
</head>

<body>

    {% include 'header.html' %}

    <div class="bloco">
            <h2>Editar Cadastro</h2>
    </div>

    {% if sucesso %}

    <div class="bloco sucesso">
        <p> Cadastro editado com sucesso </p>
    </div>

    {% endif %}

    <div class="bloco">
        <fieldset>
        

            <form  method="POST" autocomplete="on">
                <div class="bloco form_input">
                    <label for="nome">Nome:</label><br>
                    <input type="text" id="nome" name="nome" class="inputform" placeholder="Nome" required><br>
                    <br>
                </div>
                <div class="bloco form_input">
                    <label for="idade">Idade</label><br>
                    <input type="idade" id="idade" name="idade" class="inputform" placeholder="Idade" required><br>
                <br>
                </div>
                <div class="bloco form_input">
                    <label for="UF">Estado:</label><br>
                    <input type="text" id="UF" name="UF" class="inputform" placeholder="UF" required><br>
                <br>
                </div>
                <div class="bloco form_input">
                    <label for="sexo">Sexo:</label><br>
                    <input type="radio" id="masc" name="sexo" value="M">masculino
                    <input type="radio" id="fem" name="sexo" value="F">feminino <br>
                <br>
                </div>
                <div class="bloco form_input">
                    <label for="dose">Dose:</label><br>
                    <input type="radio" id="uma" name="dose" value="1">Primeira
                    <input type="radio" id="duas" name="dose" value="2">Segunda <br>
                <br>
                </div>
                <div class="bloco form_input">
                    <input type="submit" value="Cadastrar" class="botao">
                <br>
                </div>
            </form>
        </fieldset>
    </div>
     
</body>

</html>